# VS Code
.vscode/
/build/
cache/

# Main program/DLLs
/edge
edge-classic.exe
edge-classic
edge.log
debug.txt
*.dll
edge.cfg

# EDGE game folders
/screenshot
/savegame

# Other
source_files/glew/glew.pc
