# VS Code
/build/
cache/
/.vscode/settings.json

# MacOS
.DS_Store

# Main program/DLLs
/edge
*.exe
edge-classic
edge-classic.data
edge-classic-data.js
edge-classic.js
edge-classic.wasm*
edge-classic.log
debug.txt
/*.dll
edge-classic.cfg
edge-classic-portable.cfg

#EPKs
edge-defs.epk
edge_defs.epk
/edge_base/*.epk

# EDGE game folders
/screenshot
/savegame

# Other
source_files/glew/glew.pc

# WADs
*.wad
*.WAD
