# VS Code
/build/
cache/
/.vscode/settings.json

# Main program/DLLs
/edge
edge-classic.exe
edge-classic
edge-classic.data
edge-classic-data.js
edge-classic.js
edge-classic.wasm*
edge-classic.log
debug.txt
/*.dll
edge-classic.cfg
edge-classic-portable.cfg

#EPKs
edge-defs.epk
/edge_base/*.epk

# EDGE game folders
/screenshot
/savegame

# Other
source_files/glew/glew.pc

# IWADs
DOOM.WAD
DOOM1.WAD
DOOM2.WAD
HERETIC.WAD
HERETIC1.WAD
BLASPHEM.WAD
BLASPHEMER.WAD
HEXEN.WAD
HEXDD.WAD
HACX.WAD
HARM1.WAD
PLUTONIA.WAD
TNT.WAD
STRIFE0.WAD
STRIFE1.WAD
VOICES.WAD
FREEDM.WAD
BLASPHDM*.WAD
freedoom2.wad
REKKR.wad
REKKRSA.wad
