# Bank name:  TimGM6mb1.sf2
# Tools:      Awave Studio v8.5

dir ./timgm6mb

bank 0 #N .\TimGM6mb
	0 .\TimGM6mb/Piano1
	1 .\TimGM6mb/Piano2
	2 .\TimGM6mb/Piano3
	3 .\TimGM6mb/HonkyTonk
	4 .\TimGM6mb/E.Piano1
	5 .\TimGM6mb/E.Piano2
	6 .\TimGM6mb/Harpsichord
	7 .\TimGM6mb/Clavinet
	8 .\TimGM6mb/Celesta
	9 .\TimGM6mb/Glockenspiel
	10 .\TimGM6mb/MusicBox
	11 .\TimGM6mb/Vibraphone
	12 .\TimGM6mb/Marimba
	13 .\TimGM6mb/Xylophone
	14 .\TimGM6mb/TubularBells
	15 .\TimGM6mb/Dulcimer
	16 .\TimGM6mb/Organ1
	17 .\TimGM6mb/Organ2
	18 .\TimGM6mb/Organ3
	19 .\TimGM6mb/ChurchOrgan
	20 .\TimGM6mb/ReedOrgan
	21 .\TimGM6mb/Accordion
	22 .\TimGM6mb/Harmonica
	23 .\TimGM6mb/Bandoneon
	24 .\TimGM6mb/NylonGuitar
	25 .\TimGM6mb/SteelGuitar
	26 .\TimGM6mb/JazzGuitar
	27 .\TimGM6mb/CleanGuitar
	28 .\TimGM6mb/GuitarMutes
	29 .\TimGM6mb/OverdriveGuitar
	30 .\TimGM6mb/DistortionGuitar
	31 .\TimGM6mb/GuitarHarmonics
	32 .\TimGM6mb/AcousticBass
	33 .\TimGM6mb/FingeredBass
	34 .\TimGM6mb/PickedBass
	35 .\TimGM6mb/FretlessBass
	36 .\TimGM6mb/SlapBass1
	37 .\TimGM6mb/SlapBass2
	38 .\TimGM6mb/SynthBass1
	39 .\TimGM6mb/SynthBass2
	40 .\TimGM6mb/Violin
	41 .\TimGM6mb/Viola
	42 .\TimGM6mb/Cello
	43 .\TimGM6mb/Contrabass
	44 .\TimGM6mb/Strings-Tremelo
	45 .\TimGM6mb/Pizzicato
	46 .\TimGM6mb/HarpLP
	47 .\TimGM6mb/Timpani
	48 .\TimGM6mb/StringsCLP	# stereo
	49 .\TimGM6mb/SlowStringsLP	# stereo
	50 .\TimGM6mb/SynthStrings1
	51 .\TimGM6mb/SynthStrings2
	52 .\TimGM6mb/ChoirAahs
	53 .\TimGM6mb/VoiceOohs
	54 .\TimGM6mb/SynthVox
	55 .\TimGM6mb/OrchestraHit
	56 .\TimGM6mb/SoloTrumpet
	57 .\TimGM6mb/Trombone
	58 .\TimGM6mb/Tuba
	59 .\TimGM6mb/MuteTrumpet
	60 .\TimGM6mb/FrenchHorns
	61 .\TimGM6mb/Brass
	62 .\TimGM6mb/SynthBrass1
	63 .\TimGM6mb/SynthBrass2
	64 .\TimGM6mb/SopSax-TBv2.3
	65 .\TimGM6mb/AltoSax-TBv2.3
	66 .\TimGM6mb/TenorSax-TBv2.3
	67 .\TimGM6mb/BariSax-TBv2.3
	68 .\TimGM6mb/Oboe-Orch
	69 .\TimGM6mb/EnglishHorn
	70 .\TimGM6mb/Bassoon
	71 .\TimGM6mb/Clarinet
	72 .\TimGM6mb/Piccolo
	73 .\TimGM6mb/FluteTB
	74 .\TimGM6mb/Recorder
	75 .\TimGM6mb/PanFlute
	76 .\TimGM6mb/BottleChiff
	77 .\TimGM6mb/Shakuhachi
	78 .\TimGM6mb/Whistle
	79 .\TimGM6mb/Ocarina
	80 .\TimGM6mb/SquareWave
	81 .\TimGM6mb/SawWave
	82 .\TimGM6mb/SynthCalliope
	83 .\TimGM6mb/ChifferLead
	84 .\TimGM6mb/Charang
	85 .\TimGM6mb/SoloVox
	86 .\TimGM6mb/5thSawWave
	87 .\TimGM6mb/BassLead
	88 .\TimGM6mb/Fantasia
	89 .\TimGM6mb/WarmPad
	90 .\TimGM6mb/PolySynth
	91 .\TimGM6mb/SpaceVoice
	92 .\TimGM6mb/BowedGlass
	93 .\TimGM6mb/MetalPad
	94 .\TimGM6mb/HaloPad
	95 .\TimGM6mb/SweepPad
	96 .\TimGM6mb/IceRain
	97 .\TimGM6mb/Soundtrack
	98 .\TimGM6mb/Crystal
	99 .\TimGM6mb/Atmosphere
	100 .\TimGM6mb/Brightness
	101 .\TimGM6mb/Goblin
	102 .\TimGM6mb/EchoDrops
	103 .\TimGM6mb/StarTheme
	104 .\TimGM6mb/Sitar
	105 .\TimGM6mb/Banjo
	106 .\TimGM6mb/Shamisen
	107 .\TimGM6mb/Koto
	108 .\TimGM6mb/Kalimba
	109 .\TimGM6mb/Bagpipe
	110 .\TimGM6mb/Fiddle
	111 .\TimGM6mb/Shenai
	112 .\TimGM6mb/TinkerBell
	113 .\TimGM6mb/Agogo
	114 .\TimGM6mb/SteelDrum
	115 .\TimGM6mb/WoodBlock
	116 .\TimGM6mb/TaikoDrum
	117 .\TimGM6mb/MelodicTom
	118 .\TimGM6mb/SynthDrum
	119 .\TimGM6mb/ReverseCymbal
	120 .\TimGM6mb/FretNoise
	121 .\TimGM6mb/BreathNoise
	122 .\TimGM6mb/Seashore
	123 .\TimGM6mb/Bird
	124 .\TimGM6mb/Telephone
	125 .\TimGM6mb/Helicopter
	126 .\TimGM6mb/Applause
	127 .\TimGM6mb/GunShot

drumset 0 #N Standard
	27 .\TimGM6mb-Standard/FilterSnap
	28 .\TimGM6mb-Standard/NoiseSlap
	29 .\TimGM6mb-Standard/Scratch
	30 .\TimGM6mb-Standard/Scratch
	31 .\TimGM6mb-Standard/DrumStick
	32 .\TimGM6mb-Standard/Sinetick
	33 .\TimGM6mb-Standard/MetClick
	34 .\TimGM6mb-Standard/MetClick
	35 .\TimGM6mb-Standard/BassDrumNew
	36 .\TimGM6mb-Standard/BassDrumNew
	37 .\TimGM6mb-Standard/RimShot
	38 .\TimGM6mb-Standard/Snare1
	39 .\TimGM6mb-Standard/Claps808ish
	40 .\TimGM6mb-Standard/Snare2
	41 .\TimGM6mb-Standard/AcousticTom
	42 .\TimGM6mb-Standard/HighHatClosed
	43 .\TimGM6mb-Standard/AcousticTom
	44 .\TimGM6mb-Standard/HighHatFoot
	45 .\TimGM6mb-Standard/AcousticTom
	46 .\TimGM6mb-Standard/OpenHighHat
	47 .\TimGM6mb-Standard/AcousticTom
	48 .\TimGM6mb-Standard/AcousticTom
	49 .\TimGM6mb-Standard/MedCrashCymbal
	50 .\TimGM6mb-Standard/AcousticTom
	51 .\TimGM6mb-Standard/RidePing
	52 .\TimGM6mb-Standard/ChinaCrashCymb
	53 .\TimGM6mb-Standard/RideBell
	54 .\TimGM6mb-Standard/BrassTambourine
	55 .\TimGM6mb-Standard/MedCrashCymbal
	56 .\TimGM6mb-Standard/Cowbell
	57 .\TimGM6mb-Standard/MedCrashCymbal
	58 .\TimGM6mb-Standard/VibraLoop
	59 .\TimGM6mb-Standard/RidePing
	60 .\TimGM6mb-Standard/EBongoRim
	61 .\TimGM6mb-Standard/MBongoTone
	62 .\TimGM6mb-Standard/QuintoClosedSlap
	63 .\TimGM6mb-Standard/QuintoTone
	64 .\TimGM6mb-Standard/LowTumbaTone
	65 .\TimGM6mb-Standard/TimbaleRimshot
	66 .\TimGM6mb-Standard/TimbaleStrike
	67 .\TimGM6mb-Standard/AgogoBell
	68 .\TimGM6mb-Standard/AgogoBell
	69 .\TimGM6mb-Standard/Cabasa
	70 .\TimGM6mb-Standard/Maracas
	71 .\TimGM6mb-Standard/SambaWhistle
	72 .\TimGM6mb-Standard/SambaWhistle
	73 .\TimGM6mb-Standard/GuiroDown
	74 .\TimGM6mb-Standard/GuiroUp
	75 .\TimGM6mb-Standard/RosewoodClaves
	76 .\TimGM6mb-Standard/WoodBlock
	77 .\TimGM6mb-Standard/WoodBlock
	78 .\TimGM6mb-Standard/QuicaHiTone
	79 .\TimGM6mb-Standard/QuicaDownstroke
	80 .\TimGM6mb-Standard/MuteTriangle
	81 .\TimGM6mb-Standard/TriangleWaveDb5
	82 .\TimGM6mb-Standard/Cabasa
	83 .\TimGM6mb-Standard/SleighBells
	84 .\TimGM6mb-Standard/BellTree
	85 .\TimGM6mb-Standard/Castanets
	86 .\TimGM6mb-Standard/TaikoDrum
	87 .\TimGM6mb-Standard/TaikoDrum