BasedOnStyle: Microsoft
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveBitFields: Consecutive
AlignConsecutiveDeclarations: Consecutive
AlignConsecutiveMacros: Consecutive
AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 2
SortIncludes: true