[Desktop Entry]
Name=EDGE-Classic
Comment=Hardware accelerated Doom source port with powerful modding features
Terminal=false
Type=Application
Categories=Game;ActionGame;
StartupNotify=false