//
// EDGE RESOURCES
//

#define MAIN_MENU            100
#define MAIN_MENU_FILE_EXIT  1001

#define MAIN_ICON            1

MAIN_MENU MENU DISCARDABLE
{
  POPUP "File"
  {
    MENUITEM "Exit", MAIN_MENU_FILE_EXIT
  }
}

MAIN_ICON ICON "edge-classic.ico"

1 VERSIONINFO
FILEVERSION 1, 5, 2, 0
PRODUCTVERSION 1, 5, 2, 0
FILEFLAGSMASK 0x0
FILEOS 0x40004 // VOS_NT_WINDOWS32
FILETYPE 1     // VFT_APP
FILESUBTYPE 0  // VFT_UNKNOWN
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    // 0409 means "US English"; 04B0 means "Unicode encoding"
    BLOCK "040904B0"
    BEGIN
      VALUE "CompanyName",      "The EDGE Team\0"
      VALUE "FileDescription",  "Enhanced Doom Gaming Engine - Classic Edition\0"
      VALUE "FileVersion",      "1.52\0"
      VALUE "InternalName",     "EDGE152\0"
      VALUE "LegalCopyright",   "\251 The EDGE Team, et al., GNU General Public License v3\0"
      VALUE "OriginalFilename", "edge-classic.exe\0"
      VALUE "ProductName",      "EDGE-Classic\0"
      VALUE "ProductVersion",   "1.52\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 0x04B0
  END
END

//--- editor settings ---
// vi:ts=4:sw=4:noexpandtab:filetype=rc
